.color-coral {
    --primary-50: #FEF7F5;
    --primary-100: #FDEBE6;
    --primary-200: #FAD5CA;
    --primary-300: #F5B4A1;
    --primary-400: #ED8B6F;
    --primary-500: #E07A5F;
    --primary-600: #D05A40;
    --primary-700: #B34633;
    --primary-800: #943B2F;
    --primary-900: #7B3329;
    --primary-950: #421613;
}
