.color-green {
    --primary-50: #effdf5;
    --primary-100: #d9fbe8;
    --primary-200: #b3f5d1;
    --primary-300: #75edae;
    --primary-400: #00dc82;
    --primary-500: #00c16a;
    --primary-600: #00a155;
    --primary-700: #007f45;
    --primary-800: #016538;
    --primary-900: #0a5331;
    --primary-950: #052e16;
}