.color-sage {
    --primary-50: #F4F7F3;
    --primary-100: #E3EBDE;
    --primary-200: #C5D9BD;
    --primary-300: #9CBF92;
    --primary-400: #7AA36D;
    --primary-500: #5F8753;
    --primary-600: #4A6B40;
    --primary-700: #3D5635;
    --primary-800: #33472D;
    --primary-900: #2B3C26;
    --primary-950: #161F14;
}
