.mode-light {
    /* Цвета режима - светлый */
    --bg-primary: var(--surface-0);
    --bg-secondary: var(--surface-50);
    --bg-tertiary: var(--surface-0);

    --text-primary: var(--surface-800);
    --text-secondary: var(--surface-500);
    --text-tertiary: var(--surface-400);
    --text-inverse: var(--surface-0);

    --border-primary: var(--surface-200);
    --border-secondary: var(--surface-300);

    --shadow-color: rgba(0, 0, 0, 0.1);
}