.theme-purple {
    /* Брендовые цвета - фиолетовая тема */
    --primary-50: #f5f3ff;
    --primary-100: #ede9fe;
    --primary-200: #ddd6fe;
    --primary-300: #c4b5fd;
    --primary-400: #a78bfa;
    --primary-500: #8b5cf6;
    --primary-600: #7c3aed;
    --primary-700: #6d28d9;
    --primary-800: #5b21b6;
    --primary-900: #4c1d95;

    --secondary-50: #f9fafb;
    --secondary-100: #f3f4f6;
    --secondary-200: #e5e7eb;
    --secondary-300: #d1d5db;
    --secondary-400: #9ca3af;
    --secondary-500: #6b7280;
    --secondary-600: #4b5563;
    --secondary-700: #374151;
    --secondary-800: #1f2937;
    --secondary-900: #111827;

    /* Убрать комментарий, если неободимо переопределить цвет */
    /* --accent-success: #цвет;
    --accent-warning: #цвет;
    --accent-error: #цвет;
    --accent-info: #цвет;
    --accent-help: #цвет; */
}
