.surface-mauve {
    --surface-0: #ffffff;
    --surface-50: #fafafa;
    --surface-100: #f4f1f2;
    --surface-200: #e8e4e5;
    --surface-300: #d7d0d7;
    --surface-400: #a89ea9;
    --surface-500: #79697b;
    --surface-600: #594c5b;
    --surface-700: #463947;
    --surface-800: #2a212c;
    --surface-900: #1d161e;
    --surface-950: #0d090a;
}