.surface-ocean {
    --surface-0: #ffffff;
    --surface-50: #fbfcfc;
    --surface-100: #f7f9f8;
    --surface-200: #eff3f2;
    --surface-300: #dadedd;
    --surface-400: #b1b7b6;
    --surface-500: #828787;
    --surface-600: #5f7274;
    --surface-700: #415b61;
    --surface-800: #29444e;
    --surface-900: #183240;
    --surface-950: #0c1920;
}
