.surface-soho {
    --surface-0: #ffffff;
    --surface-50: #ececec;
    --surface-100: #dedfdf;
    --surface-200: #c4c4c6;
    --surface-300: #adaeb0;
    --surface-400: #97979b;
    --surface-500: #7f8084;
    --surface-600: #6a6b70;
    --surface-700: #55565b;
    --surface-800: #3f4046;
    --surface-900: #2c2c34;
    --surface-950: #16161d;
}
