.surface-viva {
    --surface-0: #ffffff;
    --surface-50: #f3f3f3;
    --surface-100: #e7e7e8;
    --surface-200: #cfd0d0;
    --surface-300: #b7b8b9;
    --surface-400: #9fa1a1;
    --surface-500: #87898a;
    --surface-600: #6e7173;
    --surface-700: #565a5b;
    --surface-800: #3e4244;
    --surface-900: #262b2c;
    --surface-950: #0e1315;
}
